site:
  title: NBNL Modellen — {{ site_title }}
  url: {{ site_url }}
content:
  sources:
    - url: ''
      start_path: src/docs
asciidoc:
  attributes:
    page-pagination: ''
    experimental: ''
    kroki-fetch-diagram: false  # Whether rendering is done server-sided so the images are served statically.
    kroki-default-format: svg@
    kroki-server-url: http://fruit.ritger.nl:9000
  extensions:
    - asciidoctor-kroki
output:
  clean: true
  dir: output/docs/html
{% if versioning_strategy == "evolution" -%}
urls:
  latest_version_segment: ''
{% endif -%}
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: /opt/build/antora/supplemental-ui/{% if has_nav == "false" %}single-page{% else %}default{% endif %}
antora:
  extensions:
    - require: '@antora/lunr-extension'
